
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.table tbody tr td{
		padding:40px;
}

.logoimg{
	width:200px;
}

a .glyphicon {
	margin-left:5em;
}

a {
    text-decoration: none !important;
}

tr{
	
}


.navtext{
	font-weight:bold;
	border:1px solid black;
	border-collapse:collapse;
	color:white;
	
}

.navtext1{
	color:white;
}

p{
	text-align:center;
}

.navigationtabs{
	
	background-color: #dfdfdf;
}

.header{
	width:100%;
	padding:30px;
	height:60%;
	background-color:#bbbbbb;
	
}



.container{
	margin-top:20px;
	margin-left: "50%";
	margin-top: "10%";
	background-color: #f1f1f1;
        z-index: 2; /* Make sure its above other items. */

        /* You will not need the below, its only for styling   purposes. */
        padding: 30px;
        border: 1px solid #555555;
        border-radius: 5px;
}

.containerlistcontacts{
	margin-top:20px;
	margin-left: "50%";
	margin-top: "10%";
	background-color: #eeeeee;
        z-index: 2;
        
}

.containerfooter{
	height:100px;
	margin-top:20px;
	background-color: #eeeeee;
        z-index: 2;
        
}

td{
	color:black;
}

	
.buttonclass{
	width:200px;
}

.headertext2 {
	margin-left:10px;
	font-size: 20px;
	font-family: "Helvetica Neue,Helvetica,Arial,sans-serif";
}


.headertext{
	margin-left:10px;
	color:white;
	font-size: 40px;
	font-family: "Helvetica Neue,Helvetica,Arial,sans-serif";
}
