<div class="alert alert-success alert-dismissible fade in container" ng-show="successfultextflag">
    
    Data saved successfully. Please check the "List all Contacts" tab to view the saved data. 
  </div>

<div class="container">
	<div class="row col-md-12">
		<div class="form-group col-md-6">
  <label class="headertext2">Add User Information: </label>
	</div>
		<div class="col-md-6 text-right">
  <span>Items marked with <span class="mandatory">*</span> are mandatory. </span>
	</div>
		</div>
  <form name="userdetailsform">
  <div class="row col-md-12">
  <div class="form-group col-md-6">
      <label for="text">First Name<span class="mandatory">*</span>:</label>
      <input type="text" ng-model="firstname" class="form-control" id="firstname" maxlength="20" placeholder="Enter First Name">
	  <span class="text-danger" 
            ng-show="invalidfirstname">
                     Please enter your First Name.
      </span>
    </div>
	<div class="form-group col-md-6">
      <label for="text">Last Name<span class="mandatory">*</span>:</label>
      <input type="text" ng-model="lastname" class="form-control" id="lastname"  maxlength="30" placeholder="Enter Last Name">
	  <span class="text-danger" 
            ng-show="invalidlastname">
                     Please enter your Last Name.
      </span>
    </div>
  </div>
  <div class="row col-md-12">
    <div class="form-group col-md-6">
      <label for="email">Email<span class="mandatory">*</span>:</label>
      <input type="email" ng-model="email" class="form-control" id="email" placeholder="Enter email">
	  <span class="text-danger" 
            ng-show="invalidemail">
                     Valid Email ID is required.(eg: demo@example.com)
      </span>
    </div>
    <div class="form-group col-md-6">
      <label for="number">Mobile Number<span class="mandatory">*</span>:</label>
      <input type="text" ng-model="phonenumber" class="form-control" id="phonenumber" 
              placeholder="Enter Phone Number">
		<div class="text-danger" 
            ng-show="invalidphonenumber">
                     Valid mobile number is required.
      </div>
      
    </div>
  </div>
  <div class="row col-md-12">
    <div class="form-group col-md-6">
      <label for="text">Status<span class="mandatory">*</span>:</label>
      <select class="form-control" id="statusOfUser" ng-model="statususer">
		<option value="" selected>Select</option>
		<option value="Active" > Active </option>
		<option value="Inactive"> Inactive </option>
	  </select>
	  <div class="text-danger" 
            ng-show="invalidstatus">
                     Please enter the status.
      </div>
	</div>
  </div>
  <div class="row col-md-12">
	<div class="form-group col-md-12 text-right">
		<button type="submit" ng-click="addUser()" class="buttonclass btn btn-primary">ADD</button>
	</div>
  </div>
  </form>
</div>
