<div class="container">
	<div class="row col-md-12">
		<div class="form-group">
  <label class="headertext2">Candidate Details: </label>
	</div>
		</div>
  <form id="updateform">
  <div class="row col-md-12">
  <div class="form-group col-md-6">
      <label for="text">Name:</label>
      <input type="text" ng-model="name" class="form-control" id="pwd" disabled="true">
	  
    </div>
	<div class="form-group col-md-6">
      <label for="email">Email:</label>
      <input type="text" ng-model="email" class="form-control" id="pwd" disabled="true">
	  
    </div>
  </div>
  <div class="row col-md-12">
    
    <div class="form-group col-md-6">
      <label for="number">Phone Number:</label>
      <input type="text" value="9945859687" ng-model="mobilenumber" class="form-control" id="pwd" disabled="true">
	  
    </div>
	<div class="form-group col-md-6">
      <label for="text">Status:</label>
      <input type="text" value="Active" ng-model="statuscandidate" class="form-control" id="pwd" disabled="true">
	  
	</div>
  </div>
  
  
  </form>
</div>